/**
 * @FileName    : game.scss
 * @Description : 
 * @History     : 2022.10.05.  리코더   임시페이지 생성
 * 
 */

.gameStyle {
    min-height: 100vh;
    background: #9dd5e9;
} 

.gradArea {
    position: absolute;  
    top: 0px;  	   
    min-height: 100vh;    
    min-width: 100vw;    
    z-index: 10;
}


@keyframes overLapDay {
    0% {
        background: #27283c;
        color: white;
        // background-image: linear-gradient(to bottom, #27283cc2, #9dd5e900);   
        // transform: translateY(0px);  
        opacity: 1; // 투명 
    }
    100% {
        background: #9dd5e9;
        color: black;
        // background-image: linear-gradient(to bottom, #ffc34080, #9dd5e900);  
        // transform: translateY(-200px);   
        opacity: 1; // 불투명
    } 
}

@keyframes overLapNight {
    0% {
        background: #9dd5e9;
        color: black;
        // background-image: linear-gradient(to bottom, #ffc34080, #9dd5e900);  
        // transform: translateY(0px);  
        opacity: 1; // 투명 
    }
    100% {
        background: #27283c;
        color: white;
        // background-image: linear-gradient(to bottom, #27283cc2, #9dd5e900);  
        // transform: translateY(-200px);   
        opacity: 1; // 불투명
    } 
}
 

.controlArea.dayMode {
    background: #9dd5e9;
    color: black;
    // background-image: linear-gradient(to bottom, #ffc34080, #9dd5e900);  
    // animation: overLapDay 3s infinite;  
    animation: overLapDay 2s ease-in-out;  
    // animation: overLapIn 3s ease-in, overLapOut 3s ease-out;  
}

.controlArea.nightMode {
    background: #27283c;
    color: white;
    // background-image: linear-gradient(to bottom, #27283cc2, #9dd5e900);  
    animation: overLapNight 2s ease-in-out; 
    // animation: overLapIn 3s ease-in, overLapOut 3s ease-out;  
} 


.controlArea {
    position: absolute;  
    top: 0px;  	   
    min-height: 100vh;    
    min-width: 100vw;   
    z-index: 100; 
}


.controlArea.dayMode {
    color:black;
}

.controlArea.nightMode {
    color:white;
}



.btn {
    padding-right: 5px;
    margin-right: 5px;
}

.pdd10 {
    padding: 10px;
}

.pdd20 {
    padding: 20px;
}

.pdd30 {
    padding: 30px;
}