@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
}

html,
body {
  width: 100%;
}
html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  /* -webkit-text-size-adjust:none;
-webkit-text-size-adjust - auto | none | N% (default auto) */
}
body {
  word-break: break-all;
  -ms-word-break: break-all;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0px none;
  vertical-align: top;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background: #fff;
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 13px;
  line-height: 1.6;
  font-family: "Noto Sans KR";
  color: #7d7d7d;
}
input,
select,
textarea,
button {
  vertical-align: middle;
}
a:link,
a:active,
a:visited {
  color: #7d7d7d;
  text-decoration: none;
  border: 0px;
}
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
summary,
caption,
legend,
hr {
  width: 0;
  height: 0;
  font-size: ;
  line-height: ;
  overflow: hidden;
  visibility: hidden;
  border: none;
  position: absolute;
  left: -1000em;
}
caption {
  position: static;
}

.clfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.clfix {
  display: inline-block;
}
.clfix {
  display: block;
}
* html .clfix {
  height: 1%;
} /* Hides from IE-mac */
.clfix {
  zoom: 1;
} /*for IE 5.5-7*/

.list {
  border-top: 2px solid #1c1815;
  border-bottom: 1px solid #1c1815;
}

.pc_img {
  display: block;
}
.tab_img {
  display: none;
}
.mob_img {
  display: none;
}

/* main */
#wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 1080px;
  margin: 0 auto;
  overflow: hidden;
}
#wrap #main {
  background: url(../img/main_bg.jpg) no-repeat center;
  height: 1080px;
}
.inner {
  width: 1400px;
  margin: 0 auto;
  max-width: 100%;
}
#header {
  width: 100%;
}
#header .inner {
  position: relative;
  justify-content: space-between;
  align-items: center;
}
#header .top_menu {
  height: 35px;
  background: #222;
}
#header .top_menu ul {
  position: absolute;
  right: 0;
  height: 35px;
  display: flex;
  align-items: center;
}
#header .top_menu ul li a {
  font-size: 12px;
  color: #fff;
  padding-left: 25px;
}
#header .menu {
  background: rgba(255, 255, 255, 0.3);
}
#header .menu .inner {
  display: flex;
  align-items: center;
  height: 100px;
}
#header .menu h4 a {
  font-size: 30px;
  color: #222;
}
#header .menu ul {
  display: flex;
}
#header .menu ul li a {
  font-size: 16px;
  color: #222;
  font-weight: 500;
  padding-left: 40px;
}

#section {
  width: 100%;
}
#section .inner {
  position: relative;
  padding: 100px 0;
}
#section .box01 .txt_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#section .box01 .txt_wrap p {
  font-size: 35px;
  color: #222;
  font-weight: bold;
  text-align: center;
}
#section .box01 .txt_wrap p span {
  font-size: 100px;
}
#section .box01 .btn_wrap {
  display: flex;
  margin-top: 50px;
}
#section .box01 .btn_wrap a {
  width: 270px;
  height: 60px;
  background: #222;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
#section .box01 .btn_wrap a:nth-child(2) {
  margin-left: 40px;
}
#section .box01 .btn_wrap a:hover {
  border: 2px solid #222;
  border-radius: 35px;
  background: transparent;
  color: #222;
}
#section .box02 {
  margin-top: 60px;
  display: flex;
}
#section .box02 .con_box {
  position: relative;
  width: 680px;
  height: 220px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 40px;
}
#section .box02 .con_box:nth-child(2) {
  margin-left: 40px;
}
#section .box02 .con_box p {
  font-size: 16px;
  color: #222;
}
#section .box02 .con_box .a_wrap {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
#section .box02 .con_box .a_wrap a {
  font-size: 16px;
  color: #222;
  font-weight: 500;
}
#section .box02 .con_box:nth-child(1) .a_wrap a:nth-child(2) {
  margin-left: 20px;
}

#footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  height: 140px;
}
#footer .inner {
  position: relative;
  padding: 35px 0;
  display: flex;
}
#footer .txt_wrap h5 {
  font-size: 24px;
  color: #222;
}
#footer .txt_wrap p {
  font-size: 14px;
  color: #222;
  padding-top: 10px;
}
#footer .img_wrap {
  position: absolute;
  right: 0;
  top: -60px;
}
#footer .img_wrap a img {
  animation: rotate_image 18s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

/* sub */
#sub #header {
  border-bottom: 1px solid #eaeaea;
}
#sub #footer {
  border-top: 1px solid #eaeaea;
}

#wrap .sub_game {
  background: url(../img/sub_bg.jpg) no-repeat center;
  height: 1080px;
}

/* sub01 */
.sub01 .con {
  width: 100%;
  height: 604px;
  background: #fff;
}
