.shop_format {
  display: flex;
  padding: 10px;

  .seller {
    width: 300px;
  }

  .sellerThink {
    width: 300px;
  }

  .thing_viewer {
    display: flex;
    padding: 5px;

    .goods {
      display: flex;
      background-color: antiquewhite;
      border: 1px solid #444444;

      .goods_info {
        width: 150px;
        height: 150px;
        padding: 5px;
        border: 1px solid #444444;
        margin: 2px;
        background-color: white;
        font-size: 10px;
      }

      .goods_img {
        width: 150px;
        height: 150px;
        padding: 20px;
        border: 1px solid #444444;
        margin: 2px;
        background-color: white;

        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .purchaser {
    .purchase_list {
      display: flex;

      .arrow {
        width: 50px;
        height: 50px;
        margin: 36px auto;
        font-size: 30px;
      }

      .purchase_table {
        border-collapse: collapse;
        margin: 0 10px;
        padding-bottom: 10px;
        height: 150px;

        tr,
        td {
          background-color: antiquewhite;
          border: 2px solid #444444;
        }

        td {
          width: 100px;
          padding: 10px;
          padding-bottom: 0;
          text-align: center;
        }

        img {
          width: 100px;
          height: 100px;
          background-color: white;
          border: 1px solid #444444;
        }

        .money_tr {
          td {
            padding-bottom: 15px;
          }
          background-color: antiquewhite;
          height: auto;
        }

        .money {
          background-color: white;
          padding: 5px;
          font-weight: bold;
        }
      }
    }
  }
}
