.status {
  .status_component {
    display: flex;

    .menu {
      .menu_btn {
        cursor: pointer;
        background-color: white;
        border: 2px solid salmon;
        width: 150px;
        font-size: 25px;
        padding: 10px;
        text-align: center;
        margin: 10px;

        &.selected {
          background-color: salmon;
          color: white;
        }
      }
    }

    .character {
      .character_status {
        .main_status {
          display: flex;

          .clothes > div,
          .accessory > div {
            text-align: center;
            font-size: 18px;
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin: 10px;
            background-color: bisque;
          }

          .character_info > div {
            font-size: 25px;
            margin: 10px;
            border: 1px solid bisque;
            padding: 5px;
          }
        }
        .sub_status {
          .basic > div,
          .classic > div {
            font-size: 25px;
            margin: 10px;
            border: 1px solid bisque;
            width: 120px;
            padding: 5px;
          }

          .basic,
          .classic {
            display: flex;
          }
        }
      }
    }
  }
}
