.status {
  .status_component {
    display: flex;

    .menu {
      .menu_btn {
        cursor: pointer;
        background-color: white;
        border: 2px solid salmon;
        width: 150px;
        font-size: 25px;
        padding: 10px;
        text-align: center;
        margin: 10px;

        &.selected {
          background-color: salmon;
          color: white;
        }
      }
    }

    .character {
      .character_status {
        .main_status {
          display: flex;

          .clothes > div,
          .accessory > div {
            text-align: center;
            font-size: 18px;
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin: 10px;
            background-color: bisque;
          }

          .character_info > div {
            font-size: 25px;
            margin: 10px;
            border: 1px solid bisque;
            padding: 5px;
          }
        }
        .sub_status {
          .basic > div,
          .classic > div {
            font-size: 25px;
            margin: 10px;
            border: 1px solid bisque;
            width: 120px;
            padding: 5px;
          }

          .basic,
          .classic {
            display: flex;
          }
        }
      }
    }
    .quest {
        width: 760px;
        height: 800px;
        margin: 0px;
  
        .quest_list {
          width: 760px;
          height: 450px;
          border: solid 2px bisque;
        //   background-color: gainsboro;
          overflow-x: hidden;
          overflow-y: auto;
  
          .tablist { 
            width: 330px;
            height: 40px;
            margin-bottom: 10px;
            display: inline-flex; 
          }
  
          .quest_tab { 
            width: 80px;
            height: 30px;
            margin-right: 10px;
            border: solid 2px bisque; 
            background-color: bisque;
            display: flex;
          }
  
          .list { 
            width: 760px;
            height: 370px;
            margin-right: 10px;    
            table {
              width: 100%;
              margin: 0px;
            //   border: 2px solid bisque;
              border-collapse: collapse;
            }
            th, td {
              border: 2px solid bisque;
            }
          }
        }
        .quest_detail {
          margin-top: 20px;
          display: inline-flex;
 
          .quest_contents { 
            width: 430px;
            height: 330px;
            border: solid 2px bisque;
            // background-color: gainsboro;
            display: flex;
            overflow-x: hidden;
            overflow-y: auto;
            white-space: pre-line;
  
            .quest_header {
              display: inline-block;
              border: solid 2px bisque;
              
              .quest_from {
                width: 150px;
                height: 150px;
                margin-right: 15px;
                display: inline-flex;
                border: solid 2px bisque;
  
                .neighbor {
                  max-width: 150px;
                  max-height: 150px;
                  object-fit: contain;
                  border: solid 2px bisque;
                }
              }
  
              .quest_title {
                display: inline-flex;
                border: solid 2px bisque;
                
              }
            }

            .quest_detail {
              border: solid 2px bisque;
              display: block;

            }
   
          }
          .quest_reward {
            width: 300px;
            height: 330px;
            margin-left: 20px;
            border: solid 2px bisque;
            // background-color: gainsboro;
            display: flex;
            overflow-x: hidden;
            overflow-y: auto;
            white-space: pre-line;
          }
        }
      }
  }
}
